/* вибачаюсь за такий css, все працює але бардак.. дуже збивало те що кольори усюди різні... дайте будь ласка вказівки що виправити */

:root {
    --main-color: #FFFFFF;
    --accent-color: #2196F3;
    --link-color: #212121;
    --site-contacts-color: #757575;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --back-color-first: #2F303A;
    --back-color-second: #F5F4FA;
    --bcg-body: #FFFFFF;
    --accent-second: #000000;
    --back-main-button: #188CE8;
}

body {
   background-color: var(--bcg-body); 
   color: var(--link-color);
   font-family: Roboto, sans-serif;
   font-size: 14px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

address {
    font-style: normal;
}


a:focus, a:hover {

}

footer {
    background-color: var(--back-color-first);
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
}
.logo-accent {
    color: var(--accent-color);
}

.logo-accent-second {
    color: var(--accent-second);
}
.logo-accent-third {
    color: var(--main-color);
}

.hero{
    color: var(--main-color) ;
    background-color: var(--back-color-first);
}

.hero-title {
    font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}

.features .features-title {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        text-transform: uppercase;
        letter-spacing: 0.03em;
}
.features .paragraph {
        line-height: 1.7;
        letter-spacing: 0.03em;
}

.section-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
}

.section.new-back {
    background-color: var(--back-color-second);
}

.team .team-title {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.06em;
}

.team .paragraph {
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
}
.team-bcg{
    background-color: var(--main-color);
}

.paragraph{
    color: var(--site-contacts-color);
}
.link {
    color: var(--link-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}

.site-contacts .link{
color: var(--site-contacts-color);
}
.link.address{
    color: var(--main-color);
}
.address-second{
    color: var(--footer-link-color);
}

.link:hover, .link:focus {
    color: var(--accent-color);
}


.button {
    cursor: pointer;
    border-radius: 4px;
}
.button.primary {
    color: var(--main-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        align-items: center;
        letter-spacing: 0.06em;
        position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary:hover, .button.primary:focus{
    color: var(--main-color);
    background-color: var(--back-main-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

.button.secondary {
    color: var(--link-color);
    background-color: var(--back-color-second);
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
}

.button:hover, .button:focus {
    color: var(--main-color);
    background-color: var(--accent-color);
    border-radius: 4px;
}


.examples .examples-title {
    color: var(--link-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.paragraph {
    color: var(--site-contacts-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.examples-paragraph {
    color: var(--site-contacts-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}


.site-nav, .site-contacts {
    letter-spacing: 0.02em;
    font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
}
.upper{
    text-transform: uppercase;
}